.conatiner {
    padding: 1rem 2.5rem;
    height: fit-content;
    margin: 2rem 0;
}
.message p {
    color: #63334b;
}

.message {
    text-align: center;
    padding: 0;
    width: 55%;
    margin: auto;
    color: #cba3af;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.col {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 90%;
}

.right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    max-height: 490px;
}

.content {
    padding: 2rem;
}

.content span {
    padding: .6rem;
    text-align: center;
    display: block;
    width: 10%;
    background-color: #cba3af;
    border-radius: 42%;
    font-weight: bold;
}

.itemTitle {
    margin: 1.5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.itemDes {
    margin: 0 1rem; 
    color: #cba3af;
}

@media (min-width: 768px) {
    .message {
        font-size: 1.4rem;
        width: 55%;
    }
    .col {
        margin: 2rem 6rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 60%;
        align-items: flex-start;
    }
    
    .content {
        font-size: 18px;
    }

    .itemTitle {
        font-size: 1.5rem;
    }
}