.hero {
    height: 100vh;
    background: url(../../media/mobile/bg.png);
    background-position: bottom;
    background-size: 100%;
    background-clip: border-box;
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    position: absolute;
    bottom: 15%;
    left: 8%;
    width: 60%;
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
}

.content .marker {
    color: #c1999d;
}


@media (min-width: 768px) {
    .hero {
        background: url(../../media/assets/bg-desk.png);
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
    }
    
    .content {
        left: 9%;
        text-transform: capitalize;
        width: 40%;
    }
 }  
