.products {
    height: fit-content;
    margin: 0 auto;
    width: 98%;
    background: url(../../media/mobile/transp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    padding: 3rem;
    color: #fff;
    margin-top: 2rem;
}

.title h2 {
    text-transform:capitalize;
    font-weight: bold;
    margin-top: .7rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

.productList {
    list-style: none;
    padding: 2rem;
} 

@media (min-width: 768px) {
    .products {
        background: url(../../media/assets/transp.png);
        background-position: center;
        width: 100%;
        background-size: 75% 100%;
        background-repeat: no-repeat;
    }
    .productList {
        list-style: none;
        padding: 2rem 0;
        width: 70%;
        margin: auto;
    } 
}